@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "DM Sans", sans-serif;
}

.container {
    max-width: 1140px !important;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* FOOTER SECTION */
.footer-con {
    padding-top: 80px;
    background: linear-gradient(to bottom, #b2f3de 0%, #ffffff 100%);
}

.partner-con {
    background-color: var(--secondary--color);
    box-shadow: 0 10px 50px rgb(30 194 139 / 30%);
    border-radius: 10px;
    padding: 50px 58px;
    margin-bottom: 76px;
}

.partner-con img {
    transition: all 0.3s ease-in-out;
}

.partner-con img:hover {
    transform: translateY(-5px);
}

.footer-con .middle-portion .footer-logo img {
    margin-bottom: 24px;
}

.footer-con .middle-portion .footer-text {
    margin-bottom: 28px;
}

.footer-con .middle-portion .heading {
    margin-bottom: 18px;
    color: var(--navy-color);
}

.footer-con .middle-portion .line {
    color: #1ec28b;
    width: 30px;
    height: 1px;
    background-color: #1ec28b;
    text-align: left;
    margin: 0 0 36px 0;
}

.footer-con .middle-portion .footer-logo-con a::after {
    display: none;

}

.footer-con .links .text-size-16 {
    position: relative;
    padding-left: 15px;
    line-height: 16px;
    margin-bottom: 10px;
    display: inline-block;
}

.footer-con .links li a:before {
    content: "\f0da";
    color: #1ec28b;
    font-weight: bold;
    display: inline-block;
    margin-left: 0;
    position: absolute;
    font-family: 'FontAwesome';
    top: 0;
    left: 0px;
}

.footer-con .middle-portion ul li.text {
    margin-bottom: 6px;
}

.footer-con .middle-portion ul li span {
    color: #1ec28b;
    font-weight: bold;
}

.footer-con .icon .text1 {
    margin-bottom: 24px;
}

.footer-con .middle-portion .social-icons .circle {
    background-color: #73848c;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 2px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}
.footer-con hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0,0,0,.1);
}
.footer-con .middle-portion .social-icons .circle:hover {
    background-color: #1ec28b;
    transform: translateY(-2px);
}


.footer-con .middle-portion .social-icons a i {
    color: #fff;
}

.copyright-con {
    text-align: center;
    padding: 26px 0px;
}

.copyright-con .text-size-16 {
    color: var(--text-color);
    margin: 0px;
}

.footer-con .middle-portion li a {
    color: var(--text-color);
}

.footer-con .vector8 {
    bottom: 0;
    left: 70px;
    animation: sway 8s ease-in-out infinite alternate;
    /* Adjust the animation duration and timing function as needed */
    transform-origin: bottom center;
}

.footer-con .middle-portion {
    padding-bottom: 74px;
    border-bottom: 1px solid #dfe0e6;
}

.footer-con .middle-portion ul li a:hover {
    color: var(--primary--color);
}

.footer-con .middle-portion ul li a {
    position: relative;
    text-decoration: none;
}

.footer-con .middle-portion a:hover::after {
    width: 100%;
}

.footer-con .middle-portion a::after {
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    content: '';
    position: absolute;
    background: #1ec28b;
    transition: ease-in-out 0.3s;
}

.footer-con .payment-icon img {
    box-shadow: 0 10px 10px rgb(30 194 139 / 10%);
}

.banner-con .owl-carousel {
    z-index: 0;
}

@keyframes sway {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(-5deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

@media all and (max-width: 767px) {
    .footer-con {
        padding-top: 40px;
    }

    .partner-con {
        padding: 15px;
        margin-bottom: 30px;
    }

    .partner-con ul {
        display: unset !important;
    }

    .partner-con ul li {
        padding: 0 20px;
        width: 32%;
        display: inline-block;
        margin-bottom: 10px;
        text-align: center;
    }

    .footer-con .middle-portion {
        padding-bottom: 25px;
        text-align: center;
    }

    .payment-icon img {
        margin-bottom: 15px;
    }

    .footer-con .middle-portion .line {
        text-align: center;
        margin: 0 auto 15px;
    }

    .footer-con .middle-portion .links {
        margin-bottom: 15px;
    }

    .footer-con .middle-portion .links.var1 ul {
        margin-bottom: 15px !important;
    }

    .footer-con .icon .text1 {
        margin-bottom: 15px;
    }

    .copyright-con {
        padding: 10px 0px;
    }
    .footer-con .vector8 {
        left: -34px;
        max-width: 100px;
    }

}
.bg-light-green {
    background: #B0F2DD;
}

.text-realBlue {
    color: #004AAD;
}
a.main-logo img {
    max-width: 138px;
}
@media all and (max-width: 767px) {
    a.main-logo img {
        max-width: 110px;
    }
}
.title-text {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 600;
}
.social-login {
    border: 1px solid #dadce0;
    padding: 12px 24px;
    border-radius: 4px;
}
.login-form input {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}
p.pass-eyes {
    position: absolute;
    right: 10px;
    top: 12px;
    color: #767676;
    cursor: pointer;
}
.my-image-profile img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.hero-slide .slide-content {
    position: relative;
    z-index: 9;
    color: #fff !important;
}
.hero-slide {
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero-slide:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #161c2d;
    opacity: .5;
}
.hero-slide1 {
    background-image: url(https://i.ibb.co/yRBW7Jy/bangladesh-6210118-1920.jpg);
}
.hero-slide2 {
    background-image: url(https://i.ibb.co/JRDFxsX/pexels-adrien-olichon-1257089-2736187.jpg);
}
.hero-slide3 {
    background-image: url(https://i.ibb.co/YDC2DXJ/pexels-asadphoto-457881.jpg);
}
.hexagon {
    color: transparent !important;
    fill: rgba(56, 189, 248, 0.05) !important;
    height: 102px;
    width: 102px;
    margin-left: auto;
    margin-right: auto;
}
.fea.icon-m-md {
    height: 28px;
    width: 28px;
}
.translate-middle {
    transform: translate(-50%, -50%) !important;
    left: 50%;
    top: 50%;
}
.contact-card {
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 4px;
    text-align: center;
}
.property-item {
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 4px;
}
@media all and (min-width: 1024px) {
    .property-item .property-image {
        height: 224px;
        overflow: hidden;
    }
    .property-item .property-image img {
        object-fit: cover;
        height: 100%;
    }
}
.cart-icon-box {
    height: 60px;
    width: 60px;
    margin-right: auto;
    margin-left: auto;
    background: #0080001f;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.my-spot-img {
    min-height: 180px;
    max-height: 180px;
    overflow: hidden;
}
.my-spot-img img {
    object-fit: cover;
}
.single-spot-single-items p {
    padding: 10px;
    background: #f1f1f169;
    border-radius: 5px;
}